.form {
    width: 100%;
    text-align: center;
    margin-top: 10px;    
}

h1 {
    color: #006c9a;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
}

.pseudoForm, .ageForm {
    padding: 5px 5px 5px 5px;
    margin: 5px 0 5px 0;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #006c9a;

}

.messageForm {
    width: 400px;
    height: 200px;
    margin-top: 5px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #006c9a;
}

button {
    padding: 10px 24px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #006c9a;
   
}

